<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Chelsea Taekwondo | Administration</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico" />

        <link rel="stylesheet" href="assets/css/backend.css?v=1.0.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body class="  ">

        <!-- Préloader -->
        <div id="loading">
            <div id="loading-center">
            </div>
        </div>

        <!-- Wrapper Start -->
        <div class="wrapper">

            <div class="iq-sidebar  sidebar-default  ">
                <div class="iq-sidebar-logo d-flex align-items-end justify-content-between">
                    <a href="../backend/index.html" class="header-logo">
                        <img src="../assets/images/logo.png" class="img-fluid rounded-normal light-logo" alt="logo">
                        <img src="../assets/images/logo-dark.png" class="img-fluid rounded-normal d-none sidebar-light-img" alt="logo">
                        <span>CHELSEA TAEKWONDO</span>
                    </a>
                    <div class="side-menu-bt-sidebar-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-light wrapper-menu" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </div>
                </div>
                <div class="data-scrollbar" data-scroll="1">
                    <nav class="iq-sidebar-menu">
                        <ul id="iq-sidebar-toggle" class="side-menu">
                            <li class="active sidebar-layout">
                                <a href="../backend/index.html" class="svg-icon">

                                    <span class="ml-2">Dashboard</span>
                                </a>
                            </li>
                            <li class="px-3 pt-3 pb-2">
                                <span class="text-uppercase small font-weight-bold">ADMINISTRATION</span>
                            </li>

                            <li class="sidebar-layout">
                                <a href="#app1" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">

                                    <span class="ml-2">Pratiquants</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon iq-arrow-right arrow-active" width="15" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                    </svg>
                                </a>
                                <ul id="app1" class="submenu collapse" data-parent="#iq-sidebar-toggle">
                                    <li class=" sidebar-layout">
                                        <a href="#" class="svg-icon">

                                            <span class="">Inscription</span>
                                        </a>
                                    </li>
                                    <li class=" sidebar-layout">
                                        <a href="#" class="svg-icon">

                                            <span class="">Imprimmer des cartes</span>
                                        </a>
                                    </li>
                                    <li class=" sidebar-layout">
                                        <a href="#" class="svg-icon">

                                            <span class="">Passage de grade</span>
                                        </a>
                                    </li>


                                </ul>
                            </li>

                            <li class=" sidebar-layout">
                                <a href="#" class="svg-icon">

                                    <span class="ml-2">Icon</span>
                                </a>
                            </li>


                            <li class="px-3 pt-3 pb-2">
                                <span class="text-uppercase small font-weight-bold">ARTICLE</span>
                            </li>
                            <li class="sidebar-layout">
                                <a href="#app2" class="collapsed svg-icon" data-toggle="collapse" aria-expanded="false">

                                    <span class="ml-2">Publication</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon iq-arrow-right arrow-active"  width="15" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                    </svg>
                                </a>
                                <ul id="app2" class="submenu collapse" data-parent="#iq-sidebar-toggle">
                                    <li class=" sidebar-layout">
                                        <a href="#" class="svg-icon">

                                            <span class="">Ajouter</span>
                                        </a>
                                    </li>
                                    <li class=" sidebar-layout">
                                        <a href="#" class="svg-icon">

                                            <span class="">Modifier</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class=" sidebar-layout">
                                <a href="#" class="svg-icon">

                                    <span class="ml-2">Icon</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <div class="pt-5 pb-5"></div>
                </div>
            </div>

            <div class="iq-top-navbar">
                <div class="iq-navbar-custom">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <div class="side-menu-bt-sidebar">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary wrapper-menu" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                                <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                                </svg>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto navbar-list align-items-center">


                                    <li class="nav-item nav-icon dropdown">
                                        <a href="#" class="nav-item nav-icon dropdown-toggle pr-0 search-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                            <img src="#" class="img-fluid avatar-rounded" alt="image">
                                            <span class="mb-0 ml-2 user-name">John Doe</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                            <li class="dropdown-item d-flex svg-icon">

                                                <a href="#">Mon Profil</a>
                                            </li>
                                            <li class="dropdown-item d-flex svg-icon">

                                                <a href="#">Parametrage d'Accès</a>
                                            </li>


                                            <li class="dropdown-item  d-flex svg-icon border-top">

                                                <a href="#">Se Deconnecter</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <!-- Content -->
            <div class="content-page">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="content">
                                    <img src="" alt="" class="img-fluid mb-5 w-100" >
                                </div>
                            </div>
                        </div>
                    <div class="row">

                        <div class="col-lg-8 col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <p class="mb-2 text-secondary"></p>
                                                <div class="d-flex flex-wrap justify-content-start align-items-center">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <p class="mb-2 text-secondary"></p>
                                                <div class="d-flex flex-wrap justify-content-start align-items-center">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                            <p class="mb-2 text-secondary"></p>
                                            <div class="d-flex flex-wrap justify-content-start align-items-center">

                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center flex-wrap p-5">

                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-header card-header-border d-flex justify-content-between">
                                <div class="header-title">
                                    <h4 class="card-title"></h4>
                                </div>
                                </div>
                                <div class="card-body-list">
                                <ul class="list-style-3 mb-0">

                                </ul>
                                </div>
                            </div>

                        </div>


                    </div>
                        <!-- Page end  -->
                    </div>
            </div>
        </div>
        <!-- Wrapper End-->

        <footer class="iq-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <span class="mr-1">
                            Chelsea Taekwondo
                        </span>
                    </div>
                    <div class="col-lg-6 text-right">
                        <span class="mr-1">
                            Copyright
                            <script>document.write(new Date().getFullYear())</script>©
                            Tous droits reservés.
                        </span>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Backend Bundle JavaScript -->
        <script src="assets/js/backend-bundle.min.js"></script>



        <!-- SweetAlert JavaScript -->
        <script src="assets/js/sweetalert.js"></script>

        <!-- app JavaScript -->
        <script src="assets/js/app.js"></script>

    </body>
</html>
